.wrapper {
  max-width: 250px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
}

.img {
  cursor: pointer;
}

.chat {
  background: #eced9c;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 0px 0px 2px;
  max-height: 500px;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
}

.clippy {
  background: teal;
  color: white;
  text-align: left;
}

.human {
  text-align: right;
  background: white;
}

.input {
  border: none;
  width: 97%;
}
