/* Light & Dark Themes */
.light-mode {
  --clr: #1a202c;
  --bg: #ffffff;
  --link: blue;
  --element-bg: #f3f3f3;
  background: var(--bg);
  color: var(--clr);
}

.dark-mode {
  --clr: #e2e8f0;
  --bg: #0d0d0d;
  --link: rgb(27, 149, 224);
  --element-bg: #000000;
  background: var(--bg);
  color: var(--clr);
}

.modeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

html,
body {
  font-size: 16px !important;
  padding: 0;
  margin: 0;
}
