/* Global Styles */

.light-mode {
  --clr: #1a202c;
  --bg: #f2f2f2;
  --link: blue;
  --element-bg: white;
  background: var(--bg);
  color: var(--clr);
}

.dark-mode {
  --clr: #e2e8f0;
  --bg: #0d0d0d;
  --link: rgb(27, 149, 224);
  --element-bg: #000000;
  background: var(--bg);
  color: var(--clr);
}

.modeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.condensed {
  font-family: 'HelveticaNeue-CondensedBold', 'HelveticaNeueBoldCondensed',
    'HelveticaNeue-Bold-Condensed', 'Helvetica Neue Bold Condensed',
    'HelveticaNeueBold', 'HelveticaNeue-Bold', 'Helvetica Neue Bold',
    'HelveticaNeue', 'Helvetica Neue', 'TeXGyreHerosCnBold', 'Helvetica',
    'Tahoma', 'Geneva', 'Arial Narrow', 'Arial', sans-serif;
}

.spacer {
  margin-top: 80px;
}

::selection {
  background: blue;
  color: white;
}

.bg {
  background: rgb(40, 42, 54);
  color: white;
  border-radius: 10px;
  padding: 10px;
  overflow-x: scroll;
}

body {
  font-size: 18px;
  scroll-behavior: smooth;
  margin: auto;
  max-width: 800px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

h2 {
  margin-top: 10vh;
  margin-bottom: 15px;
  font-size: 35px;
}

.h2-margin {
  margin-top: 30px;
}

p {
  margin: 16px auto;
  letter-spacing: 0.1px;
}

main {
  margin: auto 10px;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  filter: brightness(1.2);
}

code,
pre {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  overflow-x: scroll;
  font-size: 16px;
}

pre {
  padding: 10px;
  border-radius: 10px;
}

blockquote {
  border-left: solid 3px var(--clr);
  margin: 0;
  padding: 15px 30px;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-weight: bold;
  background: var(--element-bg);
}

ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

ol > li {
  position: relative;
  margin: 0;
  padding-bottom: 0.5em;
  padding-left: 20px;
}

ol > li:before {
  content: '';
  background-color: black;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 5px;
  width: 2px;
}

ol > li:after {
  content: '';
  position: absolute;
  background-color: white;
  left: 1px;
  top: 8px;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  border: 2px solid black;
}

/* Component Styles */
/* Stack.js */
.Stack {
  background: var(--element-bg);
  max-width: 800px;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.Stack-h3 {
  padding: 0;
  margin: 0;
}

.Stack-p {
  margin: 3px 0;
  padding: 0;
}

.Stack-feat {
  background: var(--clr);
  padding: 5px 8px;
  border-radius: 4px;
  text-align: center;
  color: var(--bg);
  font-size: 14px;
  margin-left: 5px;
}

/* Header.js */
.Header-nav {
  max-width: 800px;
  margin: 20px auto 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-link {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr);
  color: var(--clr);
  background: var(--bg);
  display: inline;
  padding: 8px 16px;
  font-size: calc(14px + 0.5vw);
  box-shadow: 3px 3px 0px var(--clr);
}

.Header-link-a {
  background: var(--clr);
  color: var(--bg);
  border-color: var(--clr);
  padding: 8px 16px;
  font-size: calc(14px + 0.5vw);
  border-width: 2px;
  box-shadow: 3px 3px 0px var(--clr);
}

/* Footer.js */
.Footer {
  margin: 10vh auto 20px auto;
  text-align: center;
}

/* Artices.js */
.Articles-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 25px;
  color: var(--clr);
  opacity: 0.8;
  outline: none;
  margin: 50px 0 0 0;
}

.Articles-btn-active {
  cursor: pointer;
  outline: none;
  color: var(--clr);
  background: transparent;
  border: none;
  font-size: 28px;
  text-shadow: -2px 2px var(--bg);
  margin: 50px 0 0 0;
}

@media only screen and (max-width: 600px) {
  .Stack {
    display: block;
  }
  .Stack-feat {
    margin-left: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
}
