/* Global Styles */

.light-mode {
  --clr: #1A202C;
  --bg: #FAFAFA;
  --link: blue;
  --element-bg: white;
  background: var(--bg);
  color: var(--clr);
}

.dark-mode {
  --clr: #E2E8F0;
  --bg: #0D0D0D;
  --link: rgb(27, 149, 224);
  --element-bg: #000000;
  background: var(--bg);
  color: var(--clr);
}

.modeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.condensed {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed",
    "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed",
    "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold",
    "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosCnBold", "Helvetica",
    "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
}

.spacer {
  margin-top: 80px;
}

::selection {
  background: blue;
  color: white;
}

.big {
  font-size: calc(1.7vw + 20px);
}

.bg {
  background: rgb(40, 42, 54);
  color: white;
  border-radius: 10px;
  padding: 10px;
  overflow-x: scroll;
}

body {
  font-size: 18px;
  margin: auto;
  max-width: 800px;
  font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica Neue,Helvetica,
    Arial,sans-serif;
  line-height: 1.5;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

h2 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

p {
  margin: 16px auto;
  letter-spacing: .1px;
}

main {
  margin: auto 10px
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  filter: brightness(1.2);
}

code, pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  overflow-x: scroll;
  font-size: 16px;
}

pre {
  padding: 10px;
  border-radius: 10px;
}

blockquote {
  border-left: solid 3px var(--clr);
  margin: 0;
  padding: 15px 30px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-weight: bold;
  background: var(--element-bg);
}

/* Component Styles */
/* Stack.js */
.Stack {
  background: var(--element-bg);
  max-width: 800px;
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.Stack-h3 {
  padding: 0;
  margin: 0;
}

.Stack-p {
  margin: 3px 0;
  padding: 0;
}

.Stack-feat {
  background: var(--clr);
  padding: 4px 8px;
  border-radius: 4px;
  margin: 15px 10px 15px auto;
  text-align: center;
  color: var(--bg);
  font-size: 14px;
}

/* Header.js */
.Header-nav {
  max-width: 800px;
  margin: 20px auto 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-link {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: var(--clr);
  color: var(--clr);
  background: var(--bg);
  display: inline;
  padding: 8px 16px;
  font-size: calc(14px + .5vw);
}

.Header-link-a {
  background: var(--clr);
  color: var(--bg);
  border-color: var(--clr);
  padding: 8px 16px;
  font-size: calc(14px + .5vw);
  border-width: 2px;
}

/* Footer.js */
.Footer {
  margin: 70px auto 20px auto;
  text-align: center;
}

/* Artices.js */
.Articles-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 25px;
  color: var(--clr);
  opacity: .8;
  outline: none;
  margin: 50px 0 0 0;
}

.Articles-btn-active {
  cursor: pointer;
  outline: none;
  color: var(--clr);
  background: transparent;
  border: none;
  font-size: 28px;
  text-shadow: -2px 2px var(--bg);
  margin: 50px 0 0 0;
}

/* Index.js */
.Index-social {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .Index-social {
    display: block;
  }
}
